:root {
    --primary-cerulean: #40798C;
    --primary-verdigris: #70A9A1;
    --primary-richblack: #0b2027;

    --accent-ashgray: #CFD7C7;
    --accent-cornsilk: #F6F1D1;
  
    --gradient-munsell: hsl(193, 41%, 45%);
    --gradient-medslateblue: hsla(249, 69%, 64%);
    --gradient-persian: hsla(241, 72%, 46%, 0);
  
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-mintgreen: hsl(166, 73%, 88%);
    --neutral-darkgrayblue: hsl(208, 91%, 9%);
  
    --accent-grayblue: hsla(224, 30%, 50%, 1);
    --accent-brightpink: hsl(356, 72%, 66%);
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-color: var(--primary-richblack); */
    background-color: var(--primary-richblack);
    color: var(--accent-cornsilk);
    margin: 0rem;
}

/* Nav bar related style */
nav {
  margin: 0rem;
  padding: 0rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0rem;
  padding: 0rem;
}

nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 2rem;
  cursor: pointer;
}

nav ul li:hover > .line {
  width: 105%;
}

a.nav-link:link {
  text-decoration: none;
}

a.nav-link:visited {
  text-decoration: none;
}

a.nav-link:hover {
  text-decoration: none;
}

a.nav-link:active {
  text-decoration: none;
}

nav ul li:hover > .bar-anim-1 {
  /* width: 105%; */
  opacity: 1;
  transform: translate(0,0);
}

.line {
  height: .15rem;
  width: 0%;
  transition:
    width 150ms,
    height 150ms;
}

.bar-anim-1 {
  width: 100%;
  transform: translate(0%, .2rem);
  opacity: 0;
  transition: 
    opacity 150ms,
    transform 100ms;
}

/* Centered container */
.center {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

/* Square definition */
.square {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  display: inline-block;
  transition: 
    transform .3s,
    rotate 2s;
}

/* Square sub definitions */
.left-sq {
  margin-bottom: 0rem;
}

.mid-sq {
  margin-bottom: 0rem;
}

.right-sq {
  margin-bottom: 0rem;
}

/* Square hover effects */
.left-sq:hover {
  /* transform: rotateZ(90deg) translate(-20%, 0%); */
  transform: translate(0%, -20%);
}

/* Text color classes */
.txt-clr-1 {
  color: var(--primary-cerulean);
}

.txt-clr-2 {
  color: var(--primary-verdigris);
}

.txt-clr-3 {
  color: var(--accent-brightpink);
}

/* Background color classes */
.bg-clr-1 {
  background-color: var(--primary-cerulean);
}

.bg-clr-2 {
  background-color: var(--primary-verdigris);
}

.bg-clr-3 {
  background-color: var(--accent-brightpink);
}

/* Class settings */
.not-active {
  visibility: hidden;
}

.active {
  visibility: visible;
}